<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user" method="POST">
        <label>
            Full Name
            <input type="text" required name="name">
        </label>
        <label>
            Email
            <input type="email" required name="email">
        </label>
        <label>
            Password
            <input type="Password" required name="password">
        </label>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>